[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-cors-headers = "*"
django-allauth = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
