@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
}

.navbar{
    background-color: #3e3c3c;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.table{
    font-family: 'Montserrat', sans-serif;
}