@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    font-family: 'Fjalla One', sans-serif;
}

.navbar{
    background-color: #2f2e44;
    color: #617182

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.table{
    font-family: 'Montserrat', sans-serif;
}