
{% block content %}

{%  include 'Admin_panel/status.htm' %}


<br>

<div class="row">
	<div class="col-md-0">
	</div>

	<div class="col-md-12">
		<h5>LAST 5 Submit Employee Data</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="#">Created Last 5 Employee Data</a>
			<table class="table table-sm">
				<tr>
					<th>Employee username</th>
					<th>Department</th>
					<th>Activity</th>
					<th>Location</th>
					<th>Project Enquiry</th>
					<th>Enq Number</th>
					<th>Name of Project</th>
					<th>Submit Date</th>
					<th>starting time</th>
					<th>Ending time</th>
					<th>Hours</th>
				</tr>

				{% for i in last_five %}
				<tr>
					<td>{{i.username}}</td>
					<td>{{i.department}}</td>
					<td>{{i.activity}}</td>
					<td>{{i.location}}</td>
					<td>{{i.projectEnq}}</td>
					<td>{{i.enq_no}}</td>
					<td>{{i.name_of_project}}</td>
					<td>{{i.start_time}}</td>
					<td>{{i.end_time}}</td>
					<td>{{i.submit_data}}</td>
					<td>{{i.hours}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}

