{%  extends 'Admin_panel/inbox.htm' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/Employee_reg.css' %}">

{% block content %}
<br>
<br>
<div align="right">
	<a href="{%url 'Admin_panel_employee_data_Add'%}"><button class="btn btn-outline-info" id="emp-data"  type="button" ><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Employee Data</button></a>	
</div>
<br>
<div align="left">
	<button type="button" class="btn btn-outline-info"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp; &nbsp;Back</button>
</div>
<br>
<div class="row">
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="GET" action="/Admin_panel/employee_data/employee_data/search/" class="form-inline my-2 my-lg-10">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
				<button class="btn btn-primary" type="submit">Search</button>
		  	</form>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body" >
			<table class="table table-hover table-sm table-dark">
				<thead>
					<tr>
						{% csrf_token %}
						<th scope="col">Sr.No.</th>
						<th scope="col">Employee Username</th>
						<th scope="col">Department</th>
						<th scope="col">Activity</th>
						<th scope="col">Location</th>
						<th scope="col">Project Enquiry</th>
						<th scope="col">Enq Number</th>
						<th scope="col">Name of Project</th>
						<th scope="col">Submit Date</th>
						<th scope="col">starting time</th>
						<th scope="col">Ending time</th>
						<th scope="col">Hours</th>
						<th scope="col">action</th>
					</tr>
				</thead>
				<tbody>
				{% if activity %}
					{% for i in activity %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{i.username}}</td>
						<td>{{i.department}}</td>
						<td>{{i.activity}}</td>
						<td>{{i.location}}</td>
						<td>{{i.projectEnq}}</td>
						<td>{{i.enq_no}}</td>
						<td>{{i.name_of_project}}</td>
						<td>{{i.start_time}}</td>
						<td>{{i.end_time}}</td>
						<td>{{i.submit_data}}</td>
						<td>{{i.hours}}</td>
						<td><a href="{%url 'Admin_panel_Data_update' i.id %}"><button type="button" class="btn btn-info btn-sm">&nbsp;&nbsp;Edit</button></a> &nbsp;&nbsp;<a href="{%url 'Admin_panel_Data_Delete' i.id %}"><button type="button" class="btn btn-danger btn-sm">&nbsp;&nbsp;Delete</button></a></td>
					{% endfor %}
				{% else %}
						<td><h1 style="color: red;">No data found</h1></td>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>   
<script>
	$("#emp-data").click(function(){
        $("#emp-data1").toggle();
    });
</script>

{% endblock %}