
{%  extends 'Admin_panel/inbox.htm' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/Employee_reg.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/css/Employee_reg.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}
<br>
<br>
<br>
<div align="left">
	<a href="{% url 'Admin_panel' %}"><button type="button" class="btn btn-outline-info"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp; &nbsp;Back</button></a>
</div>
<br>
<div class="wrapper" style="display: grid;grid-template-columns: repeat(8,1fr);grid-auto-rows: minmax(100%,auto);grid-gap: 1em;">
	<div>
		<a href="{%url 'Admin_panel_deprtmnt'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Department</button></a>
	</div>
	<div>
		<a href="{%url 'Admin_panel_name_of_project'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Name of project</button></a>
	</div>
	<div>
		<a href="{%url 'Admin_panel_project_enq'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Project Enquiry</button></a>
	</div>
	<div>
		<a href="{%url 'Admin_panel_enquiry_no'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Enquiry Number</button></a>
	</div>
	<div>
		<a href="{%url 'Admin_panel_Activity'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Activity</button></a>
	</div>
	<div>
		<a href="{%url 'Admin_panel_loction'%}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Location</button></a>
	</div>
	<!-- <div>
		<a href="{%url 'Admin_panel_employee_data' %}"><button class="btn btn-outline-info" id="form-data"  type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Employee Data</button></a>	
	</div> -->
	<div>
		<a href="{% url 'Admin_panel_export_excel' %}"><button class="btn btn-outline-info" id="emp-data"  type="button"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Export Excel</button></a>	
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="GET" action="/Admin_panel/employee_data/search/" class="form-inline my-2 my-lg-10">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
				<button class="btn btn-primary" type="submit">Search</button>
		  	</form>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body" >
			<table class="table table-hover table-sm table-dark">
				<thead>
					<tr>
						{% csrf_token %}
						<th scope="col">Sr Number</th>
						<th scope="col">Employee Username</th>
						<th scope="col">Department</th>
						<th scope="col">Activity</th>
						<th scope="col">Location</th>
						<th scope="col">Project Enquiry</th>
						<th scope="col">Enq Number</th>
						<th scope="col">Name of Project</th>
						<th scope="col">Submit Date</th>
						<th scope="col">starting time</th>
						<th scope="col">Ending time</th>
						<th scope="col">Hours</th>
						<th scope="col">action</th>
					</tr>
				</thead>
				<tbody>	
					{% if userdatas %}
						{% for i in userdatas %}
						<tr>
                            <td>{{ forloop.counter }}</td>
							<td>{{i.username}}</td>
							<td>{{i.department}}</td>
							<td>{{i.activity}}</td>
							<td>{{i.location}}</td>
							<td>{{i.projectEnq}}</td>
							<td>{{i.enq_no}}</td>
							<td>{{i.name_of_project}}</td>
							<td>{{i.start_time}}</td>
							<td>{{i.end_time}}</td>
							<td>{{i.submit_data}}</td>
							<td>{{i.hours}}</td>
							<td><a href="{%url 'Admin_panel_Data_update' i.id %}"><button type="button" class="btn btn-info btn-sm">&nbsp;&nbsp;Edit</button></a>
								<a href="{%url 'Admin_panel_Data_Delete' i.id %}"><button type="button" class="btn btn-danger btn-sm">&nbsp;&nbsp;Delete</button></a>
							</td>
						{% endfor %}
					{% else %}
							<td><h1 style="color: red;">No data found</h1></td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% if userdatas.has_other_pages %}
<ul class="pagination">
    {% if userdatas.has_previous %}
      <li><a href="?page={{ userdatas.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in userdatas.paginator.page_range %}
      {% if userdatas.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if userdatas.has_next %}
      <li><a href="?page={{ userdatas.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>   
<script>
	$("#emp-data").click(function(){
        $("#emp-data1").toggle();
    });
</script>

{% endblock %}