{%  extends 'Admin_panel/inbox.htm' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/Employee_reg.css' %}">

{% block content %}
<br>
<br>
<div class="row">
	<div class="col">
		<button class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter" type="button" style="margin-left: 1220px;"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add User <i class="fa fa-user"></i> </button>
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title justify-content-center" id="exampleModalLongTitle"><i class="fa fa-user"></i> Add User</h5>
							<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body form_container">
							<form action="register/" method="POST" class="form-signin">
                                {% csrf_token %}
                                <div class="form-label-group">  
                                </div>
                                <div class="form-label-group">
									<label for="inputName">Name</label>
                                    <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus autocomplete="off">
                                </div>
                                <div class="form-label-group">
									<label for="inputemail">Email Id</label>
                                    <input type="email" name="email" id="inputemail" class="form-control" placeholder="email" required autocomplete="off">
                                </div>
                                <div class="form-label-group">
									<label for="inputEmployeeid">Employee Username</label>
                                    <input type="text" name="empid" id="inputEmployeeid" class="form-control" placeholder="employee id Here"  autocomplete="off">
                                </div>
                                <div class="form-label-group">
									<label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" autocomplete="off" required>
                                </div>
                                <div class="form-label-group">
									<label for="inputPassword1">Confirm Password</label>
                                    <input type="password" id="inputPassword1" class="form-control" placeholder="Confirm Password" name="password1" autocomplete="off" required>
                                </div>
                                {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        <div class="alert alert-danger" role="alert">&nbsp;{{ message }}</div></div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="mt-4">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="agree-term-input" id="agree-term" required>
                                        &nbsp;&nbsp;&nbsp;<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block text-uppercase" style="background-color: #3e3c3c;" type="submit">submit</button>
								<button class="btn btn-lg  btn-block text-uppercase" style="background-color: #851313;" type="reset">Cancel</button>
							</form>
						</div>
					</div>
				</div>
			</div> 
		</div>
	
	</div>
</div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="GET" action="/Admin_panel_reg_search" class="form-inline my-2 my-lg-10">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table id="table" class="table table-hover table-sm table-dark"  style="color: #ffffff;">
				<thead>
					<tr>
						{% csrf_token %}
						<th scope="col">Employee UserName</th>
						<th scope="col">Employee Email Address</th>
						<th scope="col">Employee Name</th>
						<th scope="col">Employee Staff Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for i in Employee %}
					<tr>
						<td>{{i.username}}</td>
						<td>{{i.email}}</td>
						<td>{{i.first_name}}</td>
						<td>{{i.is_superuser}}</td>
						<td><a href="{%url 'Admin_panel_user_update_data' i.id %}"><button type="button" class="btn btn-info btn-sm">&nbsp;&nbsp;Edit</button></a> &nbsp;&nbsp;<a href="{%url 'Admin_panel_user_delete_data' i.id %}"><button type="button" class="btn btn-danger btn-sm">&nbsp;&nbsp;Delete</button></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>   
<script>
	  // Example starter JavaScript for disabling form submissions if there are invalid fields
	  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('form-signin');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

</script>
{% endblock %}