{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Vertibld Admin Panel</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>
    {%  include 'Admin_panel/Navbar.htm' %}
    <div class="container-fluid">
	    {% block content %}
        <br>
        <br>
    </div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="GET" action="#" class="form-inline my-3 my-lg-10">
        <div class="form-label-group">
          <label for="{{form.username.id_for_label}}">Employee Username &nbsp;:&nbsp;</label>
          {{form.form.username}}
        </div>
        <div class="form-label-group">
          <label for="{{form.department.id_for_label}}">Department &nbsp;:&nbsp;</label>
          {{form.form.department}}
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
	</div>
</div>
<br>


<div class="row">
	<div class="col-md">
		<div class="card card-body">
      <table id="table" class="table table-hover table-sm table-dark">
        <thead>
          <tr>
            {% csrf_token %}
            <th scope="col">Sr.No.</th>
            <th scope="col">Department:</th>
            <th scope="col">Location</th>
            <th scope="col">Project Enq</th>
            <th scope="col">Enq_no</th>
            <th scope="col">Name_of_project</th>
            <th scope="col">Activity</th>
            <th scope="col">Hour</th>
            <th scope="col">Submit Date</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col"><button class="btn  my-2 my-sm-0" value="Export"  style="color: white;"  id="btn" type="button">Export Excel</button></th>
          </tr>
        </thead>
        <tbody>
          {% for userdata in form.qs  %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{userdata.department}}</td>
            <td>{{userdata.location}}</td>
            <td>{{userdata.projectEnq}}</td>
            <td>{{userdata.enq_no}}</td>
            <td>{{userdata.name_of_project}}</td>
            <td>{{userdata.activity}}</td>
            <td>{{userdata.hours}}</td>
            <td>{{userdata.submit_data}}</td>
            <td>{{userdata.start_time}}</td>
            <td>{{userdata.end_time}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/Jquery/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script src="/static/Jquery/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<script src="/static/Jquery/jquery.table2excel.js"></script>
<script>
  
$(document).ready(function(){
  $("#btn").on('click',function(e){
    $("table").table2excel({
      name: "Emp_data",
      filename: "Employee_data" + new Date().toISOString().replace(/[\-\:\.]/g, ""),
    });
  });
});
</script>{% endblock %}
        